body {
  font-family: 'Open Sans', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #444;
  margin: 0;
  padding: 0;
}

div {
  display: flex;
  flex-direction: column;
  width: 600px;
}

h1 {
  display: flex;
  flex: 1;
}

img {
  width: 100%;
  height: auto;
}
